/* Navbar Container */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e25329;
    height: 60px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: #fff;
    border-radius: 0 0 10px 10px;
}

/* Logo */
.navbar__logo h1 {
    margin: 0;
}

/* Navbar Menus */
.navbar__menus {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    flex-grow: 1;
}

.navbar__menus a {
    text-decoration: none;
    color: #fff;
}

.navbar__menus li:hover {
    color: #ffa600;
    transition: background-color 0.3s ease;
}

/* Cart Icon */
.navbar__cart {
    position: relative;
    cursor: pointer;
}


.navbar__badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ffa600;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger */
.navbar__hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.navbar__hamburger div {
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
}

/* Hamburger Animation */
.navbar__hamburger.active div:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.navbar__hamburger.active div:nth-child(2) {
    opacity: 0;
}

.navbar__hamburger.active div:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.navbar__hamburger div {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar__menus {
        flex-direction: column;
        background-color: #e25329;
        position: absolute;
        top: 0;
        width: 40%;
        height: 0;
        left: -100%;
        overflow: hidden;
        transition: 0.5s ease;
        z-index: 999;
        padding: 0 20px;
        justify-content: flex-start;
    }

    .navbar__menus.active {
        height: 100vh; /* Sesuaikan dengan jumlah menu */
        left: 0;
    }

    .navbar__menus li {
        padding: 10px 0;
    }

    .navbar__hamburger {
        display: flex;
    }
}
