.navbarContainer {
    display: flex;
    background-color: #e25329;
    height: 60px;
    align-items: center;
    padding: 10px;
    top: 0;
    position: sticky;
    color: #ffff;
    margin: 0px 10px 10px 10px;
    border-radius: 0 0 10px 10px;
}

.cartIcon {
    position: relative;
    display: inline-block;
}

.cartBadge {
    position: absolute;
    top: -8px; /* Atur posisi badge */
    right: -8px; /* Atur posisi badge */
    background-color: #ffa600; /* Warna merah untuk badge */
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    width: 20px; /* Lebar badge */
    height: 20px; /* Tinggi badge */
    border-radius: 50%; /* Membuat badge berbentuk lingkaran */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    text-align: center;
}



.navbarMenus {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    flex-grow: 1;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffff;
}

.orderButton {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
    margin: 10px;
    list-style: none;
    gap: 10px;
    position: relative;
}

.orderButton li {
    position: relative;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
    visibility: hidden; /* Awal: Tidak terlihat */
    opacity: 0; /* Awal: Transparan */
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px); /* Efek muncul */
    top:calc(100% + 5px) ; /* Tooltip berada di atas elemen utama */
    left: 50%;
    transform: translate(-50%, 10px) translateY(-10px); /* Memusatkan tooltip */
    z-index: 100;
}
.orderButton li{
    position: relative;
}

.orderButton li:hover .tooltip {
    visibility: visible; /* Muncul saat hover */
    opacity: 1; /* Tidak transparan */
    transform: translate(-50%) translateY(0); /* Kembali ke posisi */
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .navbarMenus {
        flex-direction: column;
        background-color: #e25329;
        position: absolute;
        top: 80px;
        width: 100%;
        align-items: center;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .navbarMenus.active {
        height: 150px;
    }

    .hamburger {
        display: flex;
        margin-left: auto;
    }
}
