.footerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: rgb(248,162,30);
    background: linear-gradient(0deg, rgba(248,162,30,1) 0%, rgba(245,123,50,1) 35%, rgba(217,64,37,1) 100%);
    bottom: 0;
    margin-top: 10px;
}

@media(max-width:768px){
    .footerContainer{
        display: none;
    }
}
