.orderCard-container{
    width: 400px;
    height: 400px;
    border: none;
    margin: 5px;
    background-color: #FFE4C4;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 25px;
}

.orderCard-container:hover{
    box-shadow: 0 0 15px #D2691E;
    transition: all 0.3s ease-in-out;
}

.cardHeader{
    /* border: solid red; */
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ch{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;
}

.bf{
    font-size: 14pt;
    font-weight: bold;
    color: #D2691E;
}

.lf{
    font-size: 10pt;
    color: #8B4513;
}

.status-tag{
    background-color: #4CAF50;
    color: #ffff;
    padding: 5px;
    border: none;
    border-radius: 8px;
}
.status-tag-pending{
    background-color: #FFC107;
    color: #ffff;
    padding: 5px;
    border: none;
    border-radius: 8px;
}

.cardBody{
    /* border: solid yellow; */
    height: 50%;
    max-height: 100%;
    overflow-y: auto;
    background-color: #FFF8DC;
    border-radius: 10px;
    padding: 10px;
}

.cardFooter{
    /* border: solid green; */
    height: 20%;
}

.center{
    display: flex;
    justify-content: center;
    gap: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td{
    padding: 10px;
    /* border-bottom: 1px solid; */

}

th{
    color: #D2691E;
}

tbody tr:hover {
    background-color: #FAFAD2;
}
