
.about-content{
    display: flex;
    flex-direction: column;
    margin:40px;
    border: none;
    /* min-height: 100vh; */
    border-radius: 50px;
    padding: 50px;
    /* background-color: #FFDAB9  ; */
    /* border: solid red */
}

.about-top{
    display: flex;
    /* border: solid red; */
    height: 70%;
    margin-bottom: 40px;
    gap: 40px;
}
.about-introduce{
    display: flex;
    flex-direction: column;
    padding: 5px;
    line-height: 1.5;
    width: 50%;
    font-size: clamp(10px, 2vw, 20px);
    /* border: solid red; */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.about-introduce h1{
    font-size: 10pt;
    margin-bottom: 20px;
}

.about-introduce h2{
    margin-bottom: 20px;
}

.about-introduce img{
    height: 450px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
.data-length{
    display: flex;
    margin-top: 20px;
    /* border: solid red; */
    /* justify-content: space-around */
}

.data{
    background-color: #e25329;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-left: 5px;
    padding: 5px;
    color: #fff;
}


@media (max-width:768px) {
    .about-introduce{
        width: 100%
    }

    .about-top {
        flex-direction: column;
    }

}