.page-container {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    overflow-y: auto; /* Menambahkan scroll secara vertikal */
    overflow-x: hidden; /* Mencegah scroll horizontal */
    box-sizing: border-box; /* Untuk memastikan padding tidak menambah lebar/tinggi total elemen */
    /* border: solid red; */
}

.center-container{
    border: solid red;
}

.skeleton {
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg, #f6f7f8 25%, #edeef1 50%, #f6f7f8 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}

li{
    list-style: none;
}

.center-text{
    text-align: center;
}



/* HOME */

h1{
    font-size: 16pt;
    margin-bottom: 10px;
}

h2{
    font-size: 14pt;
    margin-bottom: 10px;
}

.home-header {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.card-header {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-tittle {
    display: flex;
    width: 80%;
    align-items: center;
    gap: 10px;
    font-size: 14pt;
    font-weight: bold;
    color: #333;
}

.icon {
    background-color: #e25329;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
}

.data-length {
    font-size: 28pt;
    color: #444;
    margin-top: 10px;
}

.statistik {
    display: flex;
    gap: 20px;
}

.chart-container {
    width: 65%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topSale {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.topSale-item {
    font-size: clamp(10px, 2vw, 12px);
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.topSale-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.topSale-image {
    width: 5rem;
    height: 3.5rem;
    border-radius: 6px;
    object-fit: cover;
}

.topSale-content p {
    margin: 0;
    font-size: 14pt;
    color: #555;
}

.topSale-content p:nth-child(2) {
    font-size: 12pt;
    color: #888;
}

/* PRODUCT */

.page-fitur{
    display: flex;
    justify-content: space-between;
    /* border: solid red; */
    padding: 5px;
    margin-top: 10px;
}

.search-input{
    border: none;
    border-radius: 5px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
    padding: 10px;
    height: 25px;
    width: 20vw;
    transition: box-shadow 0.3s ease;
    background-color: #fafafa;
}

.search-input:focus{
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.product-button{
    background-color: #D35400; /* Oranye lebih gelap */
    color: #FFFFFF; /* Teks putih */
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.product-button:hover{
    background-color: #A04000;
    /* border:  #e25329 ; */
}

/* FILTER */

.filter-tabs ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #e5e5e5;
    gap: 10px
}

.filter-tabs li{
    padding: 10px, 20px;
    cursor: pointer;
    color: #666;
    font-size: 14px;
}

.filter-tabs li.active{
    color: #ff6600;
    border-bottom: 2px solid #ff6600;
    font-weight: bold;
}

.filter-tabs li:hover{
    color: #ff6600;
}

/* TABLE */

.table-column{
    margin-top: 20px;
    border-collapse: collapse ;
    width: 100%;
}

.table-column th,
.table-column td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-column th{
    border-radius: 10px;
    color: #e25329;
}

.td-action{
    display: flex;
    gap: 2px;
}

/* PAGENATION */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.pagination button.active {
    background-color: black;
    color: white;
    font-weight: bold;
}

.pagination button:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

/* MODAL */
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    /* border: solid yellow; */
}

.modal-container{
    background-color: #f9f9f9;
    width: 50vw;
    /* height: 80%; */
    border: none;
    border-radius: 5px;
    padding: 10px;
    /* border: solid red; */
    position: absolute;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button{
    border: none;
    background-color: #f9f9f9;
    cursor: pointer;
}

.close-button:hover{
    color: #ffff;
    background-color: red;
    border-radius: 5px;
}
.modal-content{
    display: flex;
    /* border: solid red; */
}

.modal-data{
    /* border: solid black; */
    flex: 1;
    /* height: 400px; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-data li{
    list-style-type: none;
    margin-bottom: 5px;
}

.modal-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-footer{
    display: flex;
    /* border: solid red; */
    height: 40px ;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    padding-right: 10px;
    margin-top: 20px;
}

.label-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
    /* border: solid blue; */
}


.input-text {
    border: 1.5px solid #e25329;
    border-radius: 5px;
    outline: none;
    padding: 5px; 
    /* width: 100%; */
    transition: border-color 0.3s ease-in-out;
}

.input-text:focus {
    border-color: #d1461e; /* Warna lebih gelap saat aktif */
    box-shadow: 0 0 5px rgba(226, 83, 41, 0.5); /* Tambah efek glow */
}

/* DETAIL USER */

.profile-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container{
    width: 600px;
}

.detail-profile{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

.detail-profile ul{
    font-size: clamp(10px, 2vw, 12px);
}

.photo-cover{
    background-color: #a53b1d;
    height: 150px;
    border-bottom: 2px solid #ddd;
}

.photo-profile{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 20px 0;
    position: relative;
}

.profile-order{
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
    padding: 10px;
}

.data-order{
    flex: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    /* background-color: #e25329; */
    border-radius: 10px;
    font-size: clamp(10px, 2vw, 12px);
}


.card-order{
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s;

}

.card-order:hover{
    background-color: #e25329;
}

.ch{
    /* border: solid green; */
    display: flex;
    justify-content: space-between;
    padding: 5px;
}


.status-tag{
    background-color: #FF7F50;
    color: #ffff;
    padding: 5px;
    border: none;
    border-radius: 8px;
}

.detail-order{
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 10px;
    background-color: #ffff;
    font-size: clamp(10px, 2vw, 12px);
    border: solid gray;
}

.recipient{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;

}

/* ORDER */
.order-header{
    /* border: solid red; */
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-order{
    /* border: solid blue; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    font-size: clamp(10px, 2vw, 12px);

}

.contact-order{
    border-radius: 10px;
    /* border: solid yellow; */
    width: 100%;

}

.products-order{
    border-radius: 10px;
    /* border: solid green; */
    width: 100%;
}

.total-price{
    display: flex;
    background-color: #e25329;
    text-align: center;
    height: 40px;
    align-items: center;
    justify-content: center;
}

/* LOGIN */
.loginContainer{
    background-color: #e25329;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContent{
    background-color: #ffff;
    margin: 150px;
    width: 100%;
    height: 650px ;
    border-radius: 20px;
    display: flex;
}

.lottie{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.lottie canvas{
    max-width: 100%;
    height: auto;
}

.loginFc{
    flex: 1;
    border-radius: 10px;
    margin: 10px;
    background-color: #fdf1a4;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid red; */
}

.loginSide{
    width: 95%;
    /* border:  solid green; */
}

.loginTag{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* border: solid green; */
}

.logo{
    font-size: 16pt;
}

.loginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginLabel{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 80%;
}

.loginSubmit{
    /* border: solid red; */
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.loginSubmit-admin{
    /* border: solid red; */
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.loginButton{
    border-radius: 10px;
    height: 40px;
    width: 80px;
    background-color: #e25329;
    color: white;
    border: none;
    font-size: 12pt;
    margin-bottom: 10px;
}

.formLabel{
    margin-bottom: 10px;
}

.inputText{
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.inputText.error{
    border: solid red;
}

.errorMessage{
    color: red;
    font-size: 12pt;
    margin-top: 5px;
    margin-left: 5px;
}


/* REGISTER */

.registerContainer{
    background-color: #e25329;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerContent{
    background-color: #ffff;
    margin: 150px;
    width: 100%;
    height: 650px ;
    border-radius: 20px;
    display: flex;
}

@media(max-width:768px){
    h1{
        font-size: 12pt;
        margin-bottom: 10px;
    }

    .date{
        display: none;
    }

    .table-column{
        font-size: 10px;
    }

    .table-column th,
    .table-column td{
        padding: 5px;
    }

    /* PRODUCT */
    .product-button{
        padding: 5px;
        font-size: 11px;
    }

    .product-button span{
        display: none;
    }


    /* HOME */
    .card-header {
        flex: 1;
        padding: 5px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-tittle {
        font-size: 11px;
        gap: 2px;
    }

    .card-tittle p{
        font-size: 7px;
    }
    
    .icon {
        background-color: #e25329;
        width: 1rem;
        height: 1rem;
    }

    .card-header p{
        font-size: 11px;
    }

    .statistik {
        display: flex;
        flex-direction: column;
    }

    .chart-container{
        width: 85%;
        height: 300px;
        font-size: 9px;
    }

    /* LOGIN */

    .lottie {
        display: none;
    }

    .loginContent{
        margin: 10px;
        height: 500px;
        width: 350px;
    }

    .inputText{
        height: 20px;
        padding: 5px;
    }

    .loginFc{
        font-size: 12px;
    }

    .loginSubmit-admin{
        display: flex;
        flex-direction: row;
    }


    /* MODAL */
    .modal-container{
        width: 90vw;
        /* height: 80vh; */
    }

    .modal-content{
        flex-direction: column;
        gap: 10px;
        /* border: ; */
    }
}